.results {
  display: flex;

  height: 50px;
  border: 1px solid rgb(105, 90, 70);
}

.result {
  flex-grow: 1;
  margin: 5px;
  text-align: center;
  font-size: 1.2em;
font-family: 'Times New Roman', Times, serif;
  color: green;
}

.button {
  flex-grow: 1;
  border-radius: 5px;
  margin: 5px;
  background-color: rgb(189, 208, 225);
  text-align: center;
  font-weight: bold;
  font-size: 0,8cm;
  width: 30px;
}
.button:hover{

  background-color: rgb(76, 92, 86);
}
.button:active{
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  transform: translateY(4px);}
.buttons {
  display: flex;
  flex-grow: 1;

}

.container {
  width: 400px;
  height: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  text-align: center;
  font-size: 2em;
  background-color: rgb(154, 183, 163);
  color: rgb(106, 106, 115);
}